/* need to delete this and exchange*/.golden-img {
    max-width: 50%;
    height: auto;
}

body {background-image: url("images/vintage-floral-wallpaper-background-1373642927SHx.jpg");}

#finishing {display:inline-block;}